body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    padding: 20px;
}

.cb1, .cb2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #000; 
    border-radius: 10px;
    width: 45%; 
    float: left; 
    margin: 10px; 
}
.button{

    display: block;
    width: 80px;
    height: 30px;
    
}


.cb1, .cb2  {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


button, label {
    margin: 5px;
}
select{
    display: block;
    margin-left: 43%;
    width: 15%;
}


.cb2 label {
    display: inline-block;
    margin-right: 10px;
}


footer {
    background-color: #475763;
    color: white;
    padding: 10px;
    clear: both; 
}
