

body {
    background-color: rgb(255, 255, 255);
    color: white;
}

.contenedor{
    width: 400px; 
    height: 1100px;
    color: black;
    background-color: rgb(rgb(224, 191, 223));
    margin-top: 100px;
    text-align: justify;


}

.titulo {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #622892;
    text-align: center;
}

section {
    margin: 10px;
}
