body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}


h1 {
    font-size: 36px;
    margin-top: 50px;
}


h2 {
    font-size: 24px;
    margin-top: 10px;
}


ul {
    list-style: none;
    padding: 0;
}


li {
    margin-top: 15px;
}


a {
    text-decoration: none;
    color: violet;
    font-weight: bold;
    font-size: 25px;
}

a:hover {
    color: violet;
}

hr {
    color: violet;
}
